body{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;  
    height: 100vh;
}


.container{
    width: 640px;
    height: 640px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;  
}

.square{
    background-color: #d9d9d9;
    height: 40px;
    width: 40px;
}

.btn{
    position: absolute;
    margin-bottom: 800px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #d9d9d9;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: lightblue;
}